@import 'vars.scss';

.floating-button {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 10px;

  width: 70px;
  height: 70px;

  border-radius: 50%;
  border: none;
  background-color: var(--main-color);
  color: white;
  cursor: pointer;

  transition-duration: 0.2s;

  &:hover {
    bottom: 12px;
    right: 7px;

    width: 76px;
    height: 76px;
  }

  @media screen and (max-width: 600px) {
    display: block;
  }
}